{% extends 'base.html.twig' %}

{% block title %}Customer list{% endblock %}

{% block body %}
    <h1>Customer list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">phone</th>


        </tr>
        </thead>
        <tbody>
        {% for customer in customer %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone('d/m/y') }}</td>

                <td>
                    {#                        <a class="btn btn-warning" href="{{ path('app_customer_edit', {'id': customer.id}) }}">Edit</a>#}
                    {#                        <a class="btn btn-danger" href="{{ path('app_customer_delete', {'id': customer.id}) }}">Delete</a>#}
                    <a class="btn btn-warning" href="#">Edit</a>
                    <a class="btn btn-danger" href="#">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}