{% extends 'base.html.twig' %}

{% block title %}Supplier List{% endblock %}

{% block body %}
    <h1>Supplier list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">phone</th>
            <th scope="col">Addresss</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customer %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.order.count }}</td>
                <td>
                    {# <a class="btn btn-warning" href="{{ path('app_supplier_edit', {'id': supplier.id}) }}">Edit</a>#}
                    {# <a class="btn btn-danger" href="{{ path('app_supplier_delete', {'id': supplier.id}) }}">Delete</a>#}
                    <a class="btn btn-warning" href="#">Edit</a>
                    <a class="btn btn-danger" href="#">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

