{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}
    <h1>Product list</h1>
    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="text-center">
                <td>{{ product.id }}</td>
                <td>{{ product.proName }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('app_product_delete', {'id': product.id}) }}">Delete</a>
                    <a class="btn btn-primary" href="{{ path('app_product_details', {'id': product.id}) }}">Detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
